pfm/android/.idea
pfm/android/.gradle
pfm/android/app/build
pfm/android/build
pfm/android/gradle
pfm/android/android.iml
pfm/android/app/app.iml
pfm/android/gradlew.bat
pfm/android/gradlew
pfm/msvc/msvc-2013/debug
pfm/msvc/msvc-2013/ipch
pfm/msvc/msvc-2013/appplex.opensdf
pfm/msvc/msvc-2013/appplex.sdf
pfm/msvc/msvc-2013/appplex.v12.suo
pfm/msvc/appplex.exe
pfm/msvc/appplex.exp
pfm/msvc/appplex.lib
pfm/msvc/appplex.ilk
res/barnes-hut
res/metrolife
res/reliquus
res/test-digital-krikits
res/vorofract
src/units/private
