.svn
/cmd
libs
pfm/android/.idea
pfm/android/.gradle
pfm/android/app/build
pfm/android/app/src/main/assets
pfm/android/build
pfm/android/gradle
pfm/android/android.iml
pfm/android/app/app.iml
pfm/android/gradlew.bat
pfm/android/gradlew
pfm/android/local.properties
pfm/android.adt
pfm/msvc/msvc-2013/debug
pfm/msvc/msvc-2013/ipch
pfm/msvc/msvc-2013/appplex.opensdf
pfm/msvc/msvc-2013/appplex.sdf
pfm/msvc/msvc-2013/appplex.v12.suo
pfm/msvc/msvc-2015/.vs
pfm/msvc/msvc-2015/debug
pfm/msvc/msvc-2015/ipch
pfm/msvc/msvc-2015/appplex.opensdf
pfm/msvc/msvc-2015/appplex.sdf
pfm/msvc/msvc-2015/appplex.v12.suo
pfm/msvc/msvc-2015/appplex.VC.db
pfm/msvc/msvc-2015/appplex.VC.opendb
pfm/msvc/msvc-2015/appplex.VC.VC.opendb
pfm/msvc/msvc-2017
pfm/msvc/msvc-2017/.vs
pfm/msvc/msvc-2017/debug
pfm/msvc/msvc-2017/ipch
pfm/msvc/appplex.exe
pfm/msvc/appplex.exp
pfm/msvc/appplex.lib
pfm/msvc/appplex.ilk
pfm/appplex.exe
pfm/appplex.exp
pfm/appplex.ilk
pfm/appplex.lib
res/barnes-hut
res/break-reminder
res/metrolife
res/reliquus
res/test-digital-krikits
res/vorofract
src/min/appplex-conf.hpp
src/min/appplex-conf.cpp
src/units/private
