pfm/msvc/msvc-2013/debug
pfm/msvc/msvc-2013/ipch
pfm/msvc/msvc-2013/appplex.opensdf
pfm/msvc/msvc-2013/appplex.sdf
pfm/msvc/msvc-2013/appplex.v12.suo
src/units/private
pfm/msvc/appplex.exe
pfm/msvc/appplex.exp
pfm/msvc/appplex.lib
pfm/msvc/appplex.ilk